*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100svh;
    min-height: 100vh;
    font-family: sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.navbar{
    display: none;
}

.navbar ul{
    display: flex;
}

.mobile-navbar{
    display: flex;
    padding: 20px 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mobile-navbar ul{
    display: flex;
    gap:10px;
    align-items: center;
}

a{
    text-decoration: none;
    color: black
}

.nav-sign-in{
    background-color: white;
    border: 1px solid blue;
    color: blue;
}

.nav-sign-in, .nav-try-it{
    font-size: 16px;
    border-radius: 4px;
    padding: 2px 10px;
}

.nav-try-it{
    color: white;
    background-color: blue;
    font-weight: 600;
}

main{
    padding: 0 20px;
    text-align: center;
}

.focus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 2.5rem;
}

.btn-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btn-container button{
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}

.btn-sign-up{
    background-color: blue;
    color: white;
    padding: 10px 5px;
}

.btn-chat{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    padding: 10px 10px;
    display: flex;
}

.terms{
    display:flex;
    flex-direction: column;
    list-style: disc;
    gap: 5px;
    padding-left: 15px;
}



.shapes-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shapes-list li{
    display: flex;
    gap: 15px;
}

li div{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px;
}

.shapes-row1 div img{
    margin-top: 10px
}

li div:nth-child(odd){
    background-color: blue;
    color: white;
}

.client-dashboard{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.client-dashboard img{
    margin-top: 10px;
    margin-left: 5px;
}

.analytics{
    border-radius: 50%;
}

.hr{
    display: flex;
    width: 100%;
    justify-content: center;
}

.email{
    border-radius: 50%;
}

hr{
    margin: 30px 0 10px 0;
    width: 75%;
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 40px 30px 40px;
}

.features-list{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.features-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    padding: 0 5px 0px 5px;
    text-align: center;
    border: 1px solid black;
}

.payment{
    background-color: blue;
    color: white;
    height: 100%;
}

.payment img{
    background-color: white;
    border-radius: 50%;
}

.start-ease{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container img{
    width: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px 40px;
    gap: 10px;
}

.pay-feature-list{
    list-style: '- ';
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.solutions{
    display: flex;
    flex-direction: column;
    padding:10px 10px 50px 10px;
    gap: 40px;
}

.solutions1{
    display: flex;
    gap: 40px;
}

.solutions2{
    display: flex;
    gap: 40px;
}

.solutions1 div{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.solutions2 div{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.calendars{
    border-radius: 50%;
}

.solutions1 div div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.solutions2 div div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.solutions button{
    padding: 10px 25px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
}

@media screen and (min-width: 768px){
    .mobile-navbar{
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        align-items: center;
    }

    .navbar ul{
        display: flex;
        gap: 20px;
    }

    .focus{
        flex-direction: row;
    }
    .start-ease, .start{
        padding-top: 40px;
    }

    .features-list{
        width: 100%;
        justify-content: center;
        gap: 100px;
    }

    .start-ease{
        flex-direction: row;
        height: 500px;
        width: 75%;
        border-radius: 20px;
    }

    .text-container{
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .img-container{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    
    }

    .solutions{
        align-items: center;
        gap: 40px;
        width: 100%;
        flex-wrap: nowrap;
    }

    .solutions1{
        
        flex-direction: row;
    }
}