@media screen and (max-width:500px) {
  .right{
    display: none;
  }
}


.left { 
  grid-area: left;  
  min-width: 400px;
 }
.right {
  grid-area: right;  
  background: local;
  content: url(pic.png);  
}


.grid-container {
  display: grid;
  grid-template-areas:    
    'left right'; 
}

.inline{
  min-width:400px;
  margin:auto;
}
.input-icons i {
  position: absolute;
}
.inline i {
  position: absolute;
}

.input-icons {
  width: 70%;
  margin-bottom: 10px;
  position: absolute;
  justify-content: center;
}
.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}
.form{
    display: grid;
  grid-template-areas:    
    '1'
    '2'
    '3'    ; 
  justify-content: center;
}

.button-signup{   
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;  
}


body{
  padding: 45px;
}

.icon-grid{
  display: flex;
  justify-content: center;
  gap: 20px;
  gap: 50px;
}
